* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Matemasie", sans-serif;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
